flask
flask-socketio
eventlet
simple-websocket
pyautogui
qrcode
colorama
pyperclip
psutil
winrt-runtime
winrt-windows-media-control
winrt-windows-foundation
winrt-windows-foundation-collections
winrt-windows-storage-streams
winrt-windows-media
pycaw
comtypes
google-genai
rapidocr-onnxruntime
pillow
rich
openai
